@import "/src/assets/css/theme/themes";

@mixin theme_builder {
  @each $theme-name, $theme-map in $themes {
    $theme-map: $theme-map !global;
    [shiyu-theme="#{$theme-name}"] & {
      @content;
    }
  }
}

@function theme-get($key) {
  @return map-get($theme-map, $key);
}

@mixin background_color($color) {
  @include theme_builder {
    background-color: theme-get($color) !important;
  }
}

@mixin font_color($color) {
  @include theme_builder {
    color: theme-get($color) !important;
  }
}

@mixin border_color($color) {
  @include theme_builder {
    border-color: theme-get($color) !important;
  }
}
